@font-face {
  font-family: "HankenGrotesk-Bold";
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "HankenGrotesk-ExtraBold";
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

@font-face {
  font-family: "HankenGrotesk-Medium";
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
}

:root {
  --bold-font: "HankenGrotesk-Bold", sans-serif;
  --extrabold-font: "HankenGrotesk-ExtraBold", sans-serif;
  --medium-font: "HankenGrotesk-Medium", sans-serif;
  --light-blue: #cac9ff;
  --white: #ffffff;
  --dark-navy: #303b59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-family: var(--medium-font);
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  color: var(--dark-navy);
}

/* Card Result */

.cr {
  height: 35.6rem;
  width: 100%;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  border-radius: 0 0 3.2rem 3.2rem;
  color: var(--light-blue);
  text-align: center;
  padding: 2rem 4rem 0;
}

.cr__title {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
}

.cr__info {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  height: 14rem;
  width: 14rem;
  margin: 3.5rem auto 2.4rem;
  border-radius: 50%;
  padding: 2.5rem 3.8rem;
}

.cr__user-score {
  font-size: 5.6rem;
  font-family: var(--extrabold-font);
  color: var(--white);
  line-height: 7.2rem;
}

.cr__total-score {
  opacity: 0.52;
}

.cr__grade {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-family: var(--bold-font);
  color: var(--white);
  margin-bottom: 0.8rem;
}

/* Card Summary  */

.cs {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cs__title {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
}

.cs__factors {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.factor {
  border-radius: 12px;
  height: 5.6rem;
  display: grid;
  grid-template-columns: 2rem 1fr 1fr;
  align-items: center;
  padding: 1.8rem;
  gap: 1.2rem;
}

.factor__icon {
  display: block;
}

.factor__score-info {
  justify-self: end;
}

.factor__score-info > span {
  color: var(--dark-navy);
  font-weight: 700;
}

.factor__score-info > span:last-child {
  opacity: 0.5;
}

.factor-reaction {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #ff5555;
  color: #ff5555;
}

.factor-memory {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #ffb21e;
  color: #ffb21e;
}

.factor-verbal {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #00bb8f;
  color: #00bb8f;
}

.factor-visual {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #1125d6;
  color: #1125d6;
}

.cs__button {
  background-color: var(--dark-navy);
  height: 5.6rem;
  border: none;
  color: var(--white);
  border-radius: 12.8rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

.cs__button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
}

/* Footer */
.attribution {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .card {
    display: flex;
    width: 73.6rem;
    height: 51.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 3.2rem 3.2rem 0;
    box-shadow: 0px 3rem 6rem rgba(61, 108, 236, 0.15);
  }

  .cr {
    width: 36.8rem;
    height: 51.2rem;
    padding: 3.8rem 5.4rem;
    border-radius: 3.2rem;
  }

  .cr__title {
    font-size: 2.4rem;
  }

  .cr__info {
    width: 200px;
    height: 200px;
    padding: 6rem;
    margin: 3.5rem auto 2.8rem;
  }

  .cr__user-score {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  .cr__grade {
    font-size: 3.2rem;
  }

  .cr__description {
    line-height: 2.3rem;
    margin-top: 1.4rem;
  }

  /* Card Summary */

  .cs {
    width: 36.8rem;
    height: 51.2rem;
    padding: 3.8rem;
    gap: 0;
  }

  .cs__title {
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 2.8rem;
  }

  .cs__button {
    margin-top: 4.1rem;
  }
}
